.contact-us {
  font-size: 1rem;
  color: #505040;
  background-image: url('../img/map_vjti-3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3.5rem;
  margin-top: 72px;
  .parent {
    background: #fff;
    z-index: 2;
    float:none;
    border-radius:20px;
    .title {
      font-size: 4rem;
      padding-top: 1.5rem;
      text-align: center;
      margin-bottom: 0.2rem;
      font-family: 'Ubuntu', sans-serif;
    }
    hr {
      width: 50px;
      border: solid 1.5px rgb(217, 30, 24);
      margin-bottom: 2rem;
      margin-top: 0rem;
    }
    .card-location {
      font-size:4rem;
      width: 49.9%;
      flex: 0 0 49.9%;
      color: #262626;
      margin: 0rem 0rem 0rem 0rem;
      background: white; //rgba(0,0,0,0.8)
      padding: 0rem 1.7rem 1.7rem 1.7rem; //box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75); 
      .card-title {
        font-size: 3rem;
        margin-left: 1rem;
        font-weight: 550;
      }
      .card-body {
        font-size: 1.5rem;
        text-align: left; //#fff0f0
        line-height: 1.6;
        padding:0;
        table {
          td {
            vertical-align: top;
            text-align: left;
            padding: 0.5rem;
            color: #757575;
          }
        }
        .icons-div {
          border: none;
          display: flex;
          justify-content: space-between;
          margin: 0rem 5rem 0rem 5rem;
        }
        .icons {
          cursor: pointer;
          color: #000;
          width: 4.2rem;
          height: 4.2rem;
          background: #fff;
          border-radius: 50%;
          outline: none;
          text-align: center;
          box-shadow: 2px 1.5px 20px -8px rgba(0, 0, 0, 0.75);
          transition: 0.4s;
          margin-top: 35px;
          .fa {
            transform: translate(-2%, 30%);
            color: rgb(217, 30, 24);
            font-size: 2.5rem;
            transition: 0.3s ease;
            color: black;
          }
          .fa-instagram {
            color: #cd486b;
          }
          .fa-envelope {
            color: rgb(217, 30, 24);
            font-size: 2.4rem;
            transform: translate(-2%, 35%);
          }
          .fa-facebook {
            color: #3b5998;
          }
          .fa-twitter {
            color: #1DA1F2;
          }
        }
      }
      .icons:hover {
        transform: scale(1.06);
      }
    }
    .card-form {
      width: 49.9%;
      flex: 0 0 49.9%;
      background: #fff;
      padding: 1.5rem; //box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
      .card-title {
        text-align: center;
        font-size: 2.1rem;
        color: #505040;
      }
      .card-body {
        text-align: center;
        padding: 1.5rem 3rem;
        color: #505040;
        font-size:1.8rem;
        input {
          width: 100%;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          border: none;
          border-bottom: 1.5px solid #BDBDBD;
          background: transparent;
          transition: 0.5s ease;
        }
        textarea {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          border: none;
          border-bottom: 1.5px solid #BDBDBD;
          background: transparent;
          transition: 0.5s ease;
          overflow-y: hidden;
          margin-bottom: 1.2rem;
        }
        input:focus {
          outline: none;
          border-bottom: 1.5px solid #757575;
        }
        textarea:focus {
          outline: none;
          border-bottom: 1.5px solid #757575;
        }
        button {
          border-radius: 10px;
          height: 3rem;
          width: 80%;
          margin: auto;
          border: 1.5px solid #505040;
          outline: none;
          background: inherit;
          transition: 0.3s ease;
          font-weight: 500;
          cursor: pointer;
        }
        button:hover,
        button:focus {
          border-color: rgb(217, 30, 24);
          cursor: pointer;
        }
      }
    }
  }
}

.headerDivider2 {
  border-left: 1px solid #808080;
  height: 400px;
}

@media only screen and(max-width:767px) {
  .contact-us {
    font-size: 1rem;
    color: #505040;
    background-image: url('../img/map_vjti-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2rem 0.2rem;
    margin-top: 32px;
    .parent {
      background: #fff;
      z-index: 2;
      .title {
        font-size: 2.5rem;
        padding-top: 1.5rem;
        text-align: center;
        margin-bottom: 0.2rem;
        font-family: 'Ubuntu', sans-serif;
      }
      hr {
        width: 50px;
        border: solid 1.5px rgb(217, 30, 24);
        margin-bottom: 2rem;
        margin-top: 0rem;
      }
      .card-location {
        width: 100%;
        flex: 0 0 100%;
        color: #262626;
        margin: 0rem 0rem 0rem 0rem;
        background: white; //rgba(0,0,0,0.8)
        padding: 0rem 0.7rem 0.7rem 0.7rem; //box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75); 
        .card-title {
          font-size: 1.2rem;
          margin-left: 1rem;
          font-weight: 550;
        }
        .card-body {
          font-size: 1.05rem;
          text-align: left; //#fff0f0
          line-height: 1.6;
          table {
            td {
              vertical-align: top;
              text-align: left;
              padding: 0.5rem;
              color: #757575;
            }
          }
          .icons-div {
            border: none;
            display: flex;
            width:90%;
            justify-content: space-between;
            margin: 1rem auto 0rem auto;
          }
          .icons {
            cursor: pointer;
            color: #000;
            width: 3.2rem;
            height: 3.2rem;
            background: #fff;
            border-radius: 50%;
            outline: none;
            text-align: center;
            box-shadow: 2px 1.5px 20px -8px rgba(0, 0, 0, 0.75);
            transition: 0.4s;
            margin-top: 0.5rem;
            .fa {
              transform: translate(-2%, 30%);
              color: rgb(217, 30, 24);
              font-size: 1.9rem;
              transition: 0.3s ease;
              color: black;
            }
            .fa-instagram {
              color: #cd486b;
            }
            .fa-envelope {
              color: rgb(217, 30, 24);
              font-size: 1.7rem;
              transform: translate(-2%, 35%);
            }
            .fa-facebook {
              color: #3b5998;
            }
            .fa-twitter {
              color: #1DA1F2;
            }
          }
        }
        .icons:hover {
          transform: scale(1.06);
        }
      }
      .card-form {
        width: 100%;
        flex: 0 0 100%;
        background: #fff;
        padding: 0.7rem; //box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
        .card-title {
          text-align: center;
          font-size: 1.7rem;
          color: #505040;
        }
        .card-body {
          text-align: center;
          padding: 1.5rem 0.2rem;
          color: #505040;
          button {
            width: 100%;
            margin-top:0.6rem;
          }
          button:hover,
          button:focus {
            border-color: rgb(217, 30, 24);
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .headerDivider2 {
    display:none;
  }
}